:root {
    --degrees: 0deg;
}

.bg-conic {
    background: conic-gradient(transparent 0deg,
            transparent var(--degrees),
            white var(--degrees),
            white 360deg);
}

.hand {
    transform-origin: bottom center;
    transform: rotate(var(--degrees));
}

/* Custom CSS to remove the arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}